body {
    font-family: 'Arial', sans-serif;
    background-image: url('/static/core/cp.jpg'); /* Referência para a imagem de fundo */
    background-size: cover; /* Faz a imagem cobrir todo o fundo */
    background-position: center; /* Centraliza a imagem */
    background-repeat: no-repeat; /* Evita a repetição da imagem */
    color: #333;
    margin: 0;
    padding: 0;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100vh; /* Altura total da tela */
}

h1 {
    font-size: 3em;
    margin-bottom: 30px;
    color: #34495e;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1);
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    width: 90%;
    max-width: 800px;
    margin: 40px auto; /* Centraliza o container na página */
    background-color: rgba(255, 255, 255, 0.9); /* Fundo branco semi-transparente */
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
}

.perfil-info {
    display: flex;
    align-items: center; /* Alinha o início dos itens na vertical */
    margin: 20px 0; /* Espaçamento vertical entre seções */
}

.foto-perfil {
    margin-right: 20px;
    border-radius: 50%; /* Imagem de perfil circular */
    width: 150px; /* Tamanho da imagem */
    height: 150px; /* Tamanho da imagem */
    object-fit: cover; /* Ajusta a imagem para preencher a moldura */
    
    /* Moldura decorativa */
    border: 5px solid #3498db; /* Cor da borda (moldura) */
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.2); /* Sombra ao redor da moldura */
}


.informacoes p {
    margin: 5px 0;
    font-size: 1.2em; /* Aumentado para melhor legibilidade */
    color: #555;
}

button, a {
    background-color: #3498db; /* Cor azul do botão */
    color: white; /* Cor do texto */
    border: none; /* Remove bordas */
    padding: 05px 12px; /* Reduz o tamanho do botão */
    margin: 10px; /* Ajusta o espaçamento entre os botões */
    font-size: 1.2em; /* Tamanho da fonte */
    cursor: pointer; /* Cursor pointer */
    border-radius: 5px; /* Bordas arredondadas */
    transition: background-color 0.3s, transform 0.3s; /* Efeitos de transição */
    box-shadow: none; /* Remove qualquer sombra */
    text-decoration: none; /* Remove o sublinhado do link */
    display: inline-block; /* Permite margens e padding */
    outline: none; /* Remove a borda ao clicar */
}

button:focus, a:focus {
    outline: none; /* Remove a borda ao focar no botão */
}

button:hover, a:hover {
    background-color: #2980b9; /* Cor ao passar o mouse */
    transform: translateY(-2px); /* Efeito de elevação */
}


/* Estilo para o formulário de edição */
form {
    margin: 20px 0;
}

label {
    display: block;
    margin: 10px 0 5px;
}

input[type="text"], input[type="email"], input[type="file"] {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 1em; /* Tamanho da fonte para os inputs */
}

/* Responsividade */
@media (max-width: 768px) {
    h1 {
        font-size: 2em; /* Reduz o tamanho do título em telas pequenas */
    }

    .perfil-info {
        flex-direction: column; /* Muda para coluna em telas menores */
        align-items: center; /* Centraliza os itens */
    }

    .foto-perfil {
        margin-bottom: 20px; /* Espaço abaixo da imagem de perfil */
    }

    button, a {
        width: 90%; /* Botões ocupam 90% da largura em telas menores */
    }
}
