{% load static %}
<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <title>Editar Perfil</title>
    <link rel="stylesheet" href="{% static 'core/styles.css' %}">
</head>
<body>
    <h1>Editar Perfil</h1>
    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        {{ form.as_p }}
        
        <label for="id_nome">Nooooome</label>
        <input id="id_nome" type="text" name="nome" placeholder="Digite seu nome">
    
        <label for="id_telefone">Telefone</label>
        <input id="id_telefone" type="text" name="telefone" placeholder="Digite seu telefone">
    
        <label for="id_endereco">Endereço</label>
        <input id="id_endereco" type="text" name="endereco" placeholder="Digite seu endereço">
    
        <label for="id_foto_perfil">Foto de Perfil</label>
        <input id="id_foto_perfil" type="file" name="foto_perfil">
    
        <button type="submit">Salvar</button>
    </form>
    
</body>
</html>
