{% load bootstrap5 %}
<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Empréstimo</title>
    {% bootstrap_css %}
</head>
<body>
    <div class="container">
        <h1>Cadastro de Empréstimo</h1>
        {% bootstrap_messages %}

        <form method="post" class="form" autocomplete="off">
            {% csrf_token %}
            <!-- Renderiza o formulário com o bootstrap -->
            <div class="mb-3">
                <label for="id_leitor">Leitor</label>
                {{ form.leitor|bootstrap_field }}
            </div>

            <div class="mb-3">
                <label for="id_livro">Livro</label>
                {{ form.livro|bootstrap_field }}
            </div>

            <div class="mb-3">
                <label for="id_devolucao">Data de Devolução:</label>
                <input type="datetime-local" name="devolucao" id="id_devolucao" required>

                {{ form.devolucao|bootstrap_field }} <!-- Certifique-se que o widget correto está no form -->
            </div>

            {% buttons %}
                <button type="submit" class="btn btn-dark">Cadastrar</button>
            {% endbuttons %}
        </form>
    </div>
    {% bootstrap_javascript %}
</body>
</html>
