<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Biblioteca Municipal de São Sebastião</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css">
</head>

<body>
    <!-- HEADER -->
    <nav class="navbar navbar-expand-lg navbar-light" style="background-color: #fde68a;">
        <a class="navbar-brand" href="https://fundass.com.br/">
            <img src="../../media/logo-fundass.png" alt="Logo">
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse justify-content-end" id="navbarNav">
            <ul class="navbar-nav">
                <li class="nav-item active">
                    <a class="nav-link" href="#biblioteca">A Biblioteca</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" target="_blank"
                        href="http://biblioteca.saosebastiao.sp.gov.br/Biblivre5/single/?action=search_bibliographic">Acervo</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#noticias">Notícias</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#contato">Contato</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#faq">Perguntas Frequentes</a>
                </li>
                <li class="nav-item">
                    <a target="_blank" class="nav-link"
                        href="http://127.0.0.1:5500/GarocaLibro2.0/core/templates/login.html">GaroçáLibro</a>
                </li>
            </ul>
        </div>
    </nav>
    
    <!-- JUMBOTRON -->
    <section class="container-fluid bg-light text-dark py-5 mt-5">
        <div class="container d-flex flex-column flex-lg-row align-items-center">
            <div class="text-lg-left p-4 col-lg-6">
                <h1 class="font-weight-bold titulo-principal">
                    <span class="text-warning">Biblioteca e Videoteca Municipal</span> Álvaro Dória Orselli – “Seu
                    Alvinho”
                </h1>
                <p class="mt-4 mb-5 h5">
                    <strong>Horário de Funcionamento:</strong> de segunda a sexta-feira, das 8h às 18h.
                </p>
            </div>
            <div class="d-flex justify-content-center align-items-center col-lg-6">
                <img src="../../media/biblioteca-ss.jpg" alt="Imagem da Biblioteca" class="img-fluid"
                    style="max-height: 24rem;">
            </div>
        </div>
    </section>
    
    <!-- TEXTO INFORMATIVO -->
    <section class="py-5 w-100" id="biblioteca" style="background-color: #fde68a;">
        <div class="container">
            <h2 class="font-weight-bold text-center">Biblioteca e Videoteca Municipal Álvaro Dória Orselli – “Seu
                Alvinho”</h2>
            <p class="pt-2 pb-4 h5 lead text-justify">
                A nova Biblioteca e Videoteca Municipal Álvaro Dória Orselli – “Seu Alvinho” é um espaço totalmente
                climatizado e possui 355 metros quadrados, contando com aproximadamente 28.000 exemplares e mais de 60
                estandes para abrigar todo o acervo,
                além de espaço para leitura, espaço de web pesquisa, ambiente lúdico para crianças, estacionamento e uma
                estrutura pensada na acessibilidade,
                assegurando o conforto e bem-estar do leitor, atento às normas de segurança. O local possui também
                acesso gratuito à Internet, com o intuito de auxiliar em trabalhos de pesquisas.
            </p>
            <p class="pt-2 pb-4 h5 lead text-justify">
                A videoteca possui modernos equipamentos de multimídia idealizados a encontros com autores,
                palestrantes, apresentações de
                filmes e documentários. O governo municipal em parceria com Governo do Estado de São Paulo realiza no
                espaço o programa Pontos MIS, com agendamentos de
                Cine Clubes Municipais.
            </p>
        </div>
    </section>
    
    <!-- NOTÍCIAS -->
    <section class="py-5 w-100" id="noticias">
        <h2 class="py-5 text-center">Notícias</h2>
        <div class="container">
            <div class="row">
                <div class="col-sm d-flex justify-content-center align-items-center mb-4">
                    <div class="card" style="width: 18rem;">
                        <img src="../../media/biblioteca.jpeg" class="card-img-top" alt="...">
                        <div class="card-body">
                            <h5 class="card-title">Biblioteca Municipal de São Sebastião disponibiliza WhatsApp para
                                dúvidas e informações sobre os serviços oferecidos</h5>
                            <p class="card-text">A Biblioteca Municipal de São Sebastião “Álvaro Dória Orselli – Seu
                                Alvinho” disponibiliza um novo […]</p>
                            <a target="_blank"
                                href="https://fundass.com.br/biblioteca-municipal-de-sao-sebastiao-disponibiliza-whatsapp-para-duvidas-e-informacoes-sobre-os-servicos-oferecidos/"
                                class="btn btn-primary">Leia Mais</a>
                        </div>
                    </div>
                </div>
                <div class="col-sm d-flex justify-content-center align-items-center mb-4">
                    <div class="card" style="width: 18rem;">
                        <img src="../../media/oficina.jpeg" class="card-img-top" alt="...">
                        <div class="card-body">
                            <h5 class="card-title">Prefeitura de São Sebastião e Pontos MIS realizam oficina gratuita
                                sobre fotografia</h5>
                            <p class="card-text">No dia 25 de abril, a Prefeitura de São Sebastião, por meio da Fundação
                                Educacional […]</p>
                            <a target="_blank"
                                href="https://fundass.com.br/prefeitura-de-sao-sebastiao-e-pontos-mis-realizam-oficina-gratuita-sobre-fotografia/"
                                class="btn btn-primary">Leia Mais</a>
                        </div>
                    </div>
                </div>
                <div class="col-sm d-flex justify-content-center align-items-center mb-4">
                    <div class="card" style="width: 18rem;">
                        <img src="../../media/oficina (1).jpeg" class="card-img-top" alt="...">
                        <div class="card-body">
                            <h5 class="card-title">Prefeitura de São Sebastião e Pontos MIS realizam oficina
                                ‘Telenovela: um bate-papo’</h5>
                            <p class="card-text">A Prefeitura de São Sebastião, por meio da Fundação Educacional e
                                Cultural ‘Deodato Sant’Anna’ (Fundass), […]</p>
                            <a target="_blank"
                                href="https://fundass.com.br/prefeitura-de-sao-sebastiao-e-pontos-mis-realizam-oficina-telenovela-um-bate-papo/"
                                class="btn btn-primary">Leia Mais</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    
    <!-- GAROÇÁ LIBRO -->
    <section class="container-fluid bg-light text-dark py-5 mt-5">
        <div class="container d-flex flex-column flex-lg-row align-items-center">
            <div class="text-lg-left p-4 col-lg-6">
                <h1 class="font-weight-bold titulo-principal">
                    Conheça o <span class="text-warning">Garoçá Libro</span>
                </h1>
                <p class="mt-4 mb-5 h5">
                    Sua área para realizar empréstimos, reservas e consulta de livros!
                </p>
                <div class="py-5">
                    <a target="_blank" href="{% url 'appgaroca' %}">
                        <button type="submit" class="btn btn-lg btn-primary">Faça seu cadastro</button>
                    </a>
                </div>
            </div>
            <div class="d-flex justify-content-center align-items-center col-lg-6">
                <img src="../../media/cp.jpg" alt="Imagem da Biblioteca" class="img-fluid" style="max-height: 24rem;">
            </div>
        </div>
    </section>
    
    <!-- CONTATO -->
    <section class="py-6 text-dark w-100" id="contato" style="background-color: #e3f2fd;">
        <div class="container">
            <h2 class="font-weight-bold text-center">Contato</h2>
            <p class="h5 text-center mt-2">Entre em contato pelo Whatsapp: <strong>(12) 3892-2620</strong> ou pelo email: <strong>contato@fundass.com.br</strong></p>
        </div>
    </section>
    
    <!-- FAQ -->
    <section class="w-100 text-dark" id="faq" style="background-color: #e3f2fd;">
        <div class="container">
            <h2 class="text-center">Perguntas Frequentes</h2>
            <p class="text-center pt-3">Caso tenha alguma dúvida consulte nossa central de perguntas frequentes.</p>
        </div>
    </section>
    
    <!-- FOOTER -->
    <footer class="py-5" style="background-color: #fde68a;">
        <div class="container d-flex flex-wrap align-items-center justify-content-center justify-content-sm-between">
            <div class="d-flex align-items-center mb-3 mb-sm-0">
                <a target="_blank" href="https://fundass.com.br/">
                    <img src="../../media/logo-fundass.png" alt="Imagem de rodapé" class="img-fluid"
                        style="max-width: 200px;">
                </a>
            </div>
            <ul class="nav mb-3 mb-sm-0">
                <li class="nav-item">
                    <a class="nav-link text-black" rel="noopener noreferrer" target="_blank"
                        href="https://www.instagram.com/cultura.fundass/">Instagram</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-black" rel="noopener noreferrer" target="_blank"
                        href="https://www.facebook.com/cultura.fundass">Facebook</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-black" rel="noopener noreferrer" target="_blank"
                        href="https://www.youtube.com/channel/UCq4nB2jkhnFNac25LzEnvag">Youtube</a>
                </li>
            </ul>
        </div>
        <div class="text-center text-sm">© 2024 Desenvolvido pelos alunos da UNIVESP.</div>
    </footer>

    <!-- Scripts -->
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>
