{% load bootstrap5 %}
<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Leitor</title>
    {% bootstrap_css %}
</head>
<body>
    <div class="container">
        <h1>Leitor</h1>
        {% bootstrap_messages %}
        <form method="post">
            {% csrf_token %}
            {{ form.as_p }}
            
            <label for="id_nome">Nome</label>
            <input id="id_nome" type="text" name="nome" placeholder="Digite o nome">
        
            <label for="id_telefone">Telefone</label>
            <input id="id_telefone" type="text" name="telefone" placeholder="Digite o telefone">
        
            <button type="submit">Salvar</button>
        </form>
        
    </div>
    {% bootstrap_javascript %}
</body>
</html>